#logstash.conf

input {
  file {
    path => "/inputs/txc_*.log.gz"
    mode => "read"
    sincedb_path => "/dev/null"
  }

  http {
    port => 9600
  }
}

filter {
  json {
    source => "message"
  }
}

output {
#  stdout { }

  elasticsearch {
    hosts => ["$ES_HOST:$ES_PORT"]
  }
}
